 

<span class="hide" id="cronos_count">{{cronos_count}}</span>

<div class="container">
    <h4>Cronologia</h4>
    <hr>

    <a href="#modal_confirmacao_empy_crono" class="btn red right top-22 modal-trigger waves-effect">
        <i class="bx bx-trash"></i>
    </a>
    

    <div class="row">
        <div class="col s10 m6 l4 push-s1 push-m3 push-l4">
            <div id="modal_confirmacao_empy_crono" class="modal">
                <div class="modal-content">
                    <h4>Deletar Todos Registros Cronológicos?</h4>
                    <p class="red-text">Está ação é irreversível!</p>
                </div>
                <div class="modal-footer">
                    <form action="/admin/cronologia/empy" method="post">
                        <button type="submit" class="btn red left">Sim, Deletar</button>
                        <a class="modal-close right btn-flat">Cancelar</a>
                    </form>
                </div>
            </div>
        </div>
    </div>

        

    <div class="row">
        <div class="col s12">
            <ul class="collapsible no-shadow no-border">
                {{#each cronos}}
                    <li>
                        <div class="collapsible-header blur-100">
                            <div class="col s9">
                                <span class="upper">{{num}} | {{acao}}</span>
                            </div>
                            <div class="col s2">
                                <span class="grey-text" id="when_{{num}}"></span>
                            </div>
                            <div class="col s1">
                                <i class="bx bx-plus" style="font-size: 1rem;"></i>
                            </div>
                        </div>
                        <div class="collapsible-body black white-text">
                            <span class="primary-text truncate">
                                <small>{{autor}}</small>
                            </span> <br>
                            <blockquote>
                                {{desc}}
                            </blockquote>
                            <small><span id="date_{{num}}">{{date}}</span></small>
                        </div>
                    </li>
                {{else}}
                    <div class="row">
                        <div class="col s10 m8 l6 push-s1 push-m2 push-l3 top-50">
                            <div class="card blue-grey darken-3 white-text">
                                <div class="card-content">
                                    <span class="card-title">Não há Registros</span>
                                    <blockquote>
                                        De momento não há Registros Cronológicos!
                                    </blockquote>
                                </div>
                            </div>
                        </div>
                    </div>
                {{/each}}
            </ul>
        </div>
    </div>
</div>

<script>
    var cronos_count = document.getElementById('cronos_count').textContent;
    var hoje = new Date().getDate();
    var diferenca = 0;


    for(let cont = 1; cont <= cronos_count; cont++) {
        diferenca = Number(hoje - document.getElementById('date_' + cont).textContent.toString().substr(6,2));

        if(diferenca == 0) {
            diferenca = 'hoje';
        } else if(diferenca == 1) {
            diferenca = 'ontem'
        } else if(diferenca == 2) {
            diferenca = 'antes de ontem'
        } else if(diferenca == 3) {
            diferenca = 'há 3 dias'
        } else if(diferenca == 4) {
            diferenca = 'há 4 dias'
        } else if(diferenca == 5) {
            diferenca = 'há 5 dias'
        } else if(diferenca == 6) {
            diferenca = 'há 6 dias'
        } else if(diferenca == 7) {
            diferenca = 'há 7 dias'
        } else {
            diferenca = ''
        }
        
        document.getElementById('when_' + cont).innerText = diferenca;
        

    }

</script>