{{#if user}}

 

<div class="row">
    <div class="col m2 push-m10 fixed-content padd-0 blur-10">
        <div class="col hide-on-small-only m3 l2 padd-0">
            <ul class="section table-of-contents">
                <li><a href="#manual"><i class="bx bx-book"></i>Manual de Uso</a></li>
                <li><a href="#faqs"><i class="bx bx-question-mark"></i>FAQs</a></li>
                <li><a href="#desenvolvedores"><i class="bx bx-code-alt"></i>Desenvolvedores do Sistema</a></li>
            </ul>
        </div>
    </div>
</div>

<div class="container">

    <section id="manual">
        <div class="row">
            <br><br>
            <h4>
                <i class="bx bx-book"></i>
                Manual de Uso
            </h4>
            <hr><br>

            <div class="row">
                <div class="col s10 m8 push-s1 push-m2">

                    <div class="card blur-10">
                        <div class="card-content">
                            <span class="card-title">GERAL</span>

                            <blockquote>
                                <i class="bx bx-log-out-circle red-text"></i> Serve para Terminar Sessão | Fechar a Conta.
                                <br><br>
                                <i class="bx bx-chevron-up"></i> Serve para Mostrar mais Detalhes. O Inverso Oculta os
                                mesmos.
                            </blockquote>
                        </div>
                    </div>

                    {{#if admin}}

                    <div class="card blur-10">
                        <div class="card-content">
                            <span class="card-title">FERRAMENTAS DE ADMINSTRADORES</span>

                            <blockquote>
                                <i class="bx bx-edit"></i> Serve para Atualizar Informações da Sua Conta, de um Produto.
                                <br><br>
                                <i class="bx bx-camera"></i> Serve para Atualizar a Foto da Sua Conta.
                                <br><br>
                                <i class="bx bx-x red-text"></i> Serve para Deletar.
                                <br><br>
                                <i class="bx bx-minus red-text"></i> Serve para Remover.
                                <br><br>
                                <i class="bx bx-trash red-text"></i> Serve para Esvaziar.

                            </blockquote>
                        </div>
                    </div>
                    {{else}}

                    <div class="card blur-10">
                        <div class="card-content">
                            <span class="card-title">FERRAMENTAS ÚTEIS</span>

                            <blockquote>
                                <i class="bx bx-edit"></i> Serve para Atualizar Informações da Sua Conta.
                                <br><br>
                                <i class="bx bx-camera"></i> Serve para Atualizar a Foto da Sua Conta.
                                <br><br>
                                <i class="bx bx-minus red-text"></i> Serve para Remover.
                                <br><br>
                            </blockquote>
                        </div>
                    </div>
                    {{/if}}

                </div>
            </div>
        </div>
    </section>

    <section id="faqs">
        <div class="row">
            <br><br>
            <h4>
                <i class="bx bx-question-mark"></i>
                FAQs
            </h4>
            <hr>
            <small>Perguntas Frequêntes Respondidas</small>
            <a href="/admin/faq/cadastro" class="btn right"><i class="bx bx-plus"></i></a> <br><br>

            <div class="row">
                <ul class="collapsible expandable">
                    {{#each faqs}}
                    <li>
                        <div class="collapsible-header blur-10">
                            {{titulo}}
                        </div>
                        <div class="collapsible-body primary">
                            <textarea readonly class="materialize-textarea white-text">{{desc}}</textarea>
                            <br><br>
                            <small>{{date}}</small>
                        </div>
                    </li>
                    {{else}}
                    <li>
                        <div class="collapsible-header blur-10">
                            Sem FAQs
                        </div>
                        <div class="collapsible-body primary white-text">
                            <span>
                                De momento não há FAQs cadastradas...
                            </span>
                        </div>
                    </li>
                    {{/each}}
                </ul>
            </div>

        </div>
    </section>
</div>
{{/if}}

<div class="container">
    <section id="desenvolvedores">
        <div class="row">
            <br><br>
            <h4 class="upper titulo">
                <i class="bx bx-code-alt primary-text"></i>
                Desenvolvedores do Site
            </h4>
            <hr>

        </div>
        <div class="row">
            <div class="col s10 m6 l4 push-s1">
                <div class="card sticky-action">

                    <div class="card-image">
                        <img src="../img/corpo/logo/instic logo.png" class="materialboxed">
                    </div>

                    <div class="card-action">
                        <span class="card-title titulo activator truncate">
                            <i class="bx bx-chevron-up"></i>
                            INSTIC
                        </span> <br>
                        <span class="detalhe">Universidade</span> <br>
                    </div>

                    <div class="card-reveal blur-10">
                        <div class="center">

                            <span class="card-title titulo activator">
                                <i class="bx bx-x bx-md"></i><br>
                                INSTIC
                            </span>

                            <div class="top-20">
                                Desenvolvido por Estudantes da Universidade de Luanda, INSTIC
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="row ">
            <div class="col s10 m6 l4 push-s1">
                <div class="card sticky-action">

                    <div class="card-image">
                        <img src="../img/corpo/membros/Vladmir Cach.png" class="materialboxed">
                    </div>

                    <div class="card-action">
                        <span class="card-title titulo activator truncate">
                            <i class="bx bx-chevron-up"></i>
                            Vladmir Cach
                        </span> <br>
                        <span class="detalhe">Líder</span> <br>
                    </div>

                    <div class="card-reveal blur-10">
                        <div class="center">

                            <span class="card-title titulo activator">
                                <i class="bx bx-x bx-md"></i><br>
                                Vladmir Cach
                            </span>

                            <div class="top-20">
                                <span class="detalhe">Líder</span> <br><br>
                                <span class="detalhe">Desenvolvedor BackEnd</span>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="row ">
            <div class="col s10 m6 l4 push-s1">
                <div class="card sticky-action">

                    <div class="card-image">
                        <img src="../img/corpo/membros/Afonso Kawembo.png" class="materialboxed">
                    </div>

                    <div class="card-action">
                        <span class="card-title titulo activator truncate">
                            <i class="bx bx-chevron-up"></i>
                            Afonso Kawembo
                        </span> <br>
                        <span class="detalhe">Secretário</span> <br>
                    </div>

                    <div class="card-reveal blur-10">
                        <div class="center">

                            <span class="card-title titulo activator">
                                <i class="bx bx-x bx-md"></i><br>
                                Afonso Kawembo
                            </span>

                            <div class="top-20">
                                <span class="detalhe">Secretário</span> <br><br>
                                <span class="detalhe">Desenvolvedor FrontEnd</span>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col s10 m6 l4 push-s1">
                <div class="card sticky-action">

                    <div class="card-image">
                        <img src="../img/corpo/membros/Berta Catraio.jpg" class="materialboxed">
                    </div>

                    <div class="card-action">
                        <span class="card-title titulo activator truncate">
                            <i class="bx bx-chevron-up"></i>
                            Berta Catraio
                        </span> <br>
                        <span class="detalhe">Vice-Secretária</span> <br>
                    </div>

                    <div class="card-reveal blur-10">
                        <div class="center">

                            <span class="card-title titulo activator">
                                <i class="bx bx-x bx-md"></i><br>
                                Berta Catraio
                            </span>

                            <div class="top-20">
                                <span class="detalhe">Vice-Secretária</span> <br><br>
                                <span class="detalhe">Desenvolvedor FrontEnd</span> <br><br>
                                <span class="detalhe">Representante</span>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="row ">
            <div class="col s10 m6 l4 push-s1">
                <div class="card sticky-action">

                    <div class="card-image">
                        <img src="../img/corpo/membros/João Manuel Dos Santos.jpg" class="materialboxed">
                    </div>

                    <div class="card-action">
                        <span class="card-title titulo activator truncate">
                            <i class="bx bx-chevron-up"></i>
                            João dos Santos
                        </span> <br>
                        <span class="detalhe">FrontEnd</span> <br>
                    </div>

                    <div class="card-reveal blur-10">
                        <div class="center">

                            <span class="card-title titulo activator">
                                <i class="bx bx-x bx-md"></i><br>
                                João Manuel dos Santos
                            </span>

                            <div class="top-20">
                                <span class="detalhe">Desenvolvedor FrontEnd</span> <br><br>
                                <span class="detalhe">Tester</span> <br><br>
                                <span class="detalhe">Representante</span>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col s10 m6 l4 push-s1">
                <div class="card sticky-action">

                    <div class="card-image">
                        <img src="../img/corpo/membros/Henriques Tulumba.png" class="materialboxed">
                    </div>

                    <div class="card-action">
                        <span class="card-title titulo activator truncate">
                            <i class="bx bx-chevron-up"></i>
                            Henriques Tulumba
                        </span> <br>
                        <span class="detalhe">FrontEnd</span> <br>
                    </div>

                    <div class="card-reveal blur-10">
                        <div class="center">

                            <span class="card-title titulo activator">
                                <i class="bx bx-x bx-md"></i><br>
                                Henriques Tulumba
                            </span>

                            <div class="top-20">
                                <span class="detalhe">Desenvolvedor FrontEnd</span> <br><br>
                                <span class="detalhe">Tester</span>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="row ">
            <div class="col s10 m6 l4 push-s1">
                <div class="card sticky-action">

                    <div class="card-image">
                        <img src="../img/corpo/membros/Simão Malanga Garcia Manuel.jpg" class="materialboxed">
                    </div>

                    <div class="card-action">
                        <span class="card-title titulo activator truncate">
                            <i class="bx bx-chevron-up"></i>
                            Simão Manuel
                        </span> <br>
                        <span class="detalhe">Coletor</span> <br>
                    </div>

                    <div class="card-reveal blur-10">
                        <div class="center">

                            <span class="card-title titulo activator">
                                <i class="bx bx-x bx-md"></i><br>
                                Simão Malanga Garcia Manuel
                            </span>

                            <div class="top-20">
                                <span class="detalhe">Coletor de Dados</span> <br><br>
                                <span class="detalhe">Tester</span>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col s10 m6 l4 push-s1">
                <div class="card sticky-action">

                    <div class="card-image">
                        <img src="../img/corpo/membros/Josué Festa.jpg" class="materialboxed">
                    </div>

                    <div class="card-action">
                        <span class="card-title titulo activator truncate">
                            <i class="bx bx-chevron-up"></i>
                            Josué Festa
                        </span> <br>
                        <span class="detalhe">Coletor</span> <br>
                    </div>

                    <div class="card-reveal blur-10">
                        <div class="center">

                            <span class="card-title titulo activator">
                                <i class="bx bx-x bx-md"></i><br>
                                Josué Festa
                            </span>

                            <div class="top-20">


                                <span class="detalhe">Coletor de Dados</span> <br><br>
                                <span class="detalhe">Tester</span>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </section>
</div>

<script>
    var year = new Date().getFullYear();

    document.getElementById('idade_vladmir').innerText = Number(year - 2001);
    document.getElementById('idade_graca').innerText = Number(year - 2001);
    document.getElementById('experiencia_vladmir').innerText = Number(year - 2016);
    document.getElementById('experiencia_graca').innerText = Number(year - 2021);

</script>