<div class="container">
    <div class="row">
        {{#if cat}}
        <h4 class="upper titulo">
            <i class="bx bx-shopping-bag primary-text"></i>
            Produtos: <span class="detalhe primary">{{cat.titulo}}</span>
        </h4>
        {{else}}
        <h4 class="upper titulo">
            <i class="bx bx-shopping-bag primary-text"></i>
            Nossos Produtos
        </h4>
        {{/if}}
        <hr>
    </div>

    <div class="row cats">
        {{#if cat}}
        <a href="/produtos">
            <div class="chip primary white-text">
                <i class="bx bx-undo bx-xs"></i>
            </div>
        </a>
        {{/if}}
        {{#if cats}}
        <a href="/categorias">
            <div class="chip">
                todas
            </div>
        </a>
        {{else}}
        <a href="/admin/categorias/cadastro">
            <div class="chip">cadastrar</div>
        </a>
        {{/if}}
        {{#each cats}}
        <a href="/categorias/ver/{{_id}}">
            <div class="chip">
                {{titulo}}
            </div>
        </a>
        {{/each}}
    </div>

    <div class="row top-100">
        {{#if admin}}
        {{#each prods}}
        <div class="col s12 m6 l4">
            <div class="card sticky-action">

                <div class="card-image">
                    <img src="/img/corpo/{{foto}}" class="materialboxed">
                </div>

                <div class="card-content">
                    <span class="card-title activator truncate">
                        <i class="bx bx-chevron-up"></i>
                        {{nome}}
                    </span> <br>
                    <span class="detalhe lower">{{categoria}}</span> <br>
                </div>

                <div class="card-action">
                    <a></a>
                    {{!-- <a class="btn right" href="produtos_ver.html">ver</a> --}}
                </div>

                <div class="card-reveal blur-10">
                    <div class="center">

                        <span class="card-title activator">
                            <i class="bx bx-x bx-md"></i><br>
                            {{nome}}
                        </span>
                    </div>

                    <div class="top-20">


                        <span class="detalhe">Cor</span>
                        <span class="cores">{{cores}}</span>

                        <br><br>
                        <span class="detalhe">Stock</span>
                        <span>{{stock}}</span>

                        <br><br>
                        <span class="detalhe black money"><i class="bx bxs-coin-stack"></i></span>
                        <span class="detalhe black money">
                            <span class="money_format" style="font-size: x-large;">{{preco}}</span>
                        </span>
                    </div>

                    <div class="top-100">
                        <a href="#modal_confirmacao_delete_prod_{{_id}}"
                            class="btn-flat modal-trigger waves-effect waves-red red-text"><i
                                class="bx bx-trash"></i></a>
                        <a href="/admin/produtos/edit/{{_id}}" class="btn-flat primary-text waves-effect right"><i
                                class="bx bx-pen"></i></a>
                    </div>
                </div>

            </div>
        </div>
        {{else}}
        <div class="col s10 m4 push-s1 push-m4">
            <div class="card blue-grey darken-3 white-text">
                <div class="card-content">
                    <span class="card-title">Sem Produtos</span>
                    <blockquote class="top-20">
                        <span>Não há Produtos. Após Cadastra-las, aparecerão aqui</span>
                    </blockquote>
                </div>
            </div>
        </div>
        {{/each}}
        {{else}}
        {{#each prods}}
        <div class="col s12 m6 l4">
            <div class="card sticky-action">

                <div class="card-image">
                    <img src="/img/corpo/{{foto}}" class="materialboxed">
                </div>

                <div class="card-content">
                    <span class="card-title activator truncate">
                        <i class="bx bx-chevron-up"></i>
                        {{nome}}
                    </span> <br>
                    <span class="detalhe lower">{{categoria}}</span> <br>
                </div>

                <div class="card-action">
                    <a></a>
                    {{!-- <a class="btn right" href="produtos_ver.html">ver</a> --}}
                </div>

                <div class="card-reveal blur-10">
                    <div class="center">

                        <span class="card-title activator">
                            <i class="bx bx-x bx-md"></i><br>
                            {{nome}}
                        </span>
                    </div>

                    <div class="top-20">


                        <span class="detalhe">Cor</span>
                        <span class="cores">{{cores}}</span>

                        <br><br>
                        <span class="detalhe">Stock</span>
                        <span>{{stock}}</span>

                        <br><br>
                        <span class="detalhe black money"><i class="bx bxs-coin-stack"></i></span>
                        <span class="detalhe black money">
                            <span class="money_format" style="font-size: x-large;">{{preco}}</span>
                        </span>
                    </div>
                </div>

            </div>
        </div>
        {{else}}
        <div class="col s10 m4 push-s1 push-m4">
            <div class="card blue-grey darken-3 white-text">
                <div class="card-content">
                    <span class="card-title">Sem Produtos</span>
                    <blockquote class="top-20">
                        <span>Não há Produtos. Brevemente os Administradores Cadastrarão</span>
                    </blockquote>
                </div>
            </div>
        </div>
        {{/each}}
        {{/if}}
    </div>
</div>

{{#if admin}}
{{#each prods}}
<div class="row">
    <div class="col s10 m6 l4 push-s1 push-m3 push-l4">
        <div id="modal_confirmacao_delete_prod_{{_id}}" class="modal">
            <div class="modal-content">
                <h4>Deletar Este Produto?</h4>
                <p class="red-text">Está ação é irreversível!</p>
            </div>
            <div class="modal-footer">
                <form action="/admin/produtos/delete/{{_id}}" method="post">
                    <input type="hidden" name="nome" value="{{nome}}">
                    <input type="hidden" name="categoria" value="{{categoria}}">
                    <button type="submit" class="btn red left">Sim, Deletar</button>
                    <a class="modal-close right btn-flat">Cancelar</a>
                </form>
            </div>
        </div>
    </div>
</div>
{{/each}}
{{/if}}


<script>

    var money_format = new Intl.NumberFormat(
        'en-US',
        { style: 'currency', currency: 'AOA' }
    );

    let money_count = document.getElementsByClassName('money_format').length;

    for (let cont = 0; cont < money_count; cont++) {
        document.getElementsByClassName('money_format')[cont].textContent = money_format.format(document.getElementsByClassName('money_format')[cont].textContent);


        let cores_array = document.getElementsByClassName('cores')[cont].textContent.split(',');
        document.getElementsByClassName('cores')[cont].innerHTML = '';

        for (let _cont = 0; _cont < cores_array.length; _cont++) {
            document.getElementsByClassName('cores')[cont].innerHTML += `
                <span class="detalhe ${cores_array[_cont]}"></span>
            `;
        }
    }

</script>