 

<div class="container">
    <div class="row top-50">
        <div class="col s10 m4 push-s1">
            <div class="card transparent">
                <div class="card-image">
                    <img src="/img/users/{{userLogado.foto}}" alt="{{userLogado.nome}}">
                    <span class="card-title">
                        <a href="/user/edit/photo/{{userLogado.ident}}" class="btn btn-small btn-floating blue-grey darken-4"><i class="bx bx-camera"></i></a>
                    </span>
                </div>
                <div class="card-content">

                    {{#if admin}}
                        <span class="card-title activator">
                            {{userLogado.nome}}
                            <i class="bx bx-chevron-up right"></i>    
                        </span>
                    {{else}}
                        <span class="card-title">{{userLogado.nome}}</span>
                    {{/if}}

                </div>

                <div class="card-action">
                    <form action="/user/logout" method="post">
                        <a href="/user/edit/{{userLogado.ident}}" class="btn blue-grey darken-4"><i class="bx bx-pen"></i></a>
                        <button type="submit" class="btn transparent no-hover waves-effect waves-red right"><i class="bx bx-log-out-circle red-text"></i></button>
                    </form>
                </div>

                {{#if admin}}
                    <div class="card-reveal blur-10">
                        <span class="card-title admin">ADMIN</span>
                            
                        <div class="row top-20">
                            <div class="col s6 push-s1 top-20">
                                <a href="/admin/cronologia" class="btn-floating btn-large tooltipped top-22" data-position="left" data-tooltip="Cronologia"><i class="bx bx-calendar-alt"></i></a>
                            </div>
                            <div class="col s6 push-s1 top-20">
                                <a href="/admin/users" class="btn-floating btn-large tooltipped top-22" data-position="right" data-tooltip="Controlo de Usuários"><i class="bx bx-group"></i></a>
                            </div>
                            <div class="col s6 push-s1 top-20">
                                <a href="/admin/dashboard" class="btn-floating btn-large tooltipped top-22" data-position="left" data-tooltip="Painel Principal"><i class="bx bxs-dashboard"></i></a>
                            </div>
                            <div class="col s6 push-s1 top-20">
                                <a href="/admin/produtos/cadastro" class="btn-floating btn-large tooltipped top-22" data-position="right" data-tooltip="Cadastrar Produto"><i class="bx bx-plus"></i></a>
                            </div>
                        </div>
                    </div>
                {{/if}}

            </div>
        </div>
    </div>
</div>